body{
background-color:#000000;
}
.hgt12px{height:12px;}
.hgt6px{height:6px;}
.hgt7px{height:7px;}
.wdth317px{width:317px;height:auto;}
.lftalgn{float:left; margin-left:17px;}
.cb{clear:both;}
#header{ height:47px;background-color:#0099FF;top:0px;margin-top:0px;text-align:center;}
#mainbodyDiv{
background-color:#999999;
}
.mainbodyDiv{
background-color:#999999;
}
.Highlghtfont{
background-color:#CCFFCC;

}


.advDivclassBlue{
background-color:#6699FF;
}
.advDivclassGreen{
background-color:#33CC33;
}
.advDivclassRed{
background-color:#FF0000;
}

#advDivclass:hover{
background-color:#669966;
}

#advDiv:hover{
background-color:#669966;
}
.deletefuelentry{
font-weight:bold;color:#FF0000;
}
.deletefuelentry:hover{
font-weight:bold;color:#990000;
}